[Unit]
Description=Samba and Greyhole docker container
Requires=docker.service mariadbd.service
After=docker.service mariadbd.service

[Service]
Restart=always
RestartSec=10

WorkingDirectory=/home/gb/samba-greyhole
ExecStartPre=/usr/bin/docker build -t samba-greyhole .
ExecStartPre=-/usr/bin/docker rm samba-greyhole

ExecStart=/usr/bin/docker run --rm \
  --name=samba-greyhole \
  --cpu-shares 2048 \
  -e TZ=America/Toronto \
  -p 137:137/udp \
  -p 138:138/udp \
  -p 139:139/tcp \
  -p 445:445/tcp \
  --privileged \
  --mount type=tmpfs,destination=/tmp \
  -v /etc/passwd:/etc/passwd:ro \
  -v /etc/shadow:/etc/shadow:ro \
  -v /path/to/etc-samba:/etc/samba:ro \
  -v /path/to/var-lib-samba:/var/lib/samba \
  -v /usr/share/greyhole:/usr/share/greyhole \
  -v /path/to/greyhole.conf:/config-greyhole/greyhole.conf:ro \
  -v /opt/samba-shares:/opt/samba-shares \
  -v /mnt:/mnt \
  samba-greyhole

ExecStop=/usr/bin/docker stop samba-greyhole

[Install]
WantedBy=multi-user.target
